<ion-app>
 
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>
   
    <!-- <cs-deck-list
      [data]="data"
      (onUndo)="onUndo($event)"
      (onDelete)="onDelete($event)"
      routerLink="/deck/data.id"
      (onItemClick)="onItemClick($event)">
    </cs-deck-list> -->
    <cs-deck-list
      [data]="data"
      (onUndo)="onUndo($event)"
      
      
      (click)="onItemClick($event)">
    </cs-deck-list>
  
  </ion-content>
  <div class = "bar bar-footer bar-assertive">

      <button  [routerLink]="['/new-deck']" class="box-shadow default-button ion-float-right add-button" ion-button color="save">
        <ion-icon name="add-outline"></ion-icon>
      </button>
    
 </div>
</ion-app>
