<!-- DRAGEN AND DROP --COMPONENT 3 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-list>
        <!--Header-->
        <ion-list-header class="box-shadow ion-padding">
          <ion-label lines="none">
            <h1 class="text-size-md font-bold text-color-secondary ion-text-wrap">
              {{data.header}}</h1>
          </ion-label>
        </ion-list-header>
        <ion-reorder-group disabled="false" (ionItemReorder)="ionItemReorder($event)">
          <ion-item class="default-item" lines="none"
          *ngFor="let item of data.items"
          (click)="onItemClickFunc(item, $event)">
            <!--Avatar-->
            <ion-avatar>
              <img [src]="item.image">
            </ion-avatar>
            <!--Title and Subtitle-->
            <ion-label class="ion-padding-start">
              <h2 class="text-size-md font-bold text-color-primary ion-text-wrap">
                {{item.title}}</h2>
              <h3 class="text-size-sm text-color-secondary font-light ion-text-wrap">
                {{item.subtitle}}</h3>
            </ion-label>
            <ion-reorder slot="end">
              <ion-icon color="black" class="icon-large" name="reorder-three"></ion-icon>
            </ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
