<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="data != null">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size="12">
        <ion-list>
          <ion-list-header>
            <p class="text-size-md text-color-secondary font-regular">
              {{data.allComments}}</p>
          </ion-list-header>
          <ion-item class="default-item box-shadow"
          lines="none" *ngFor="let item of data.items"
          (click)="onItemClickFunc(item, $event)">
            <ion-thumbnail>
              <img [src]="item.image">
            </ion-thumbnail>
            <ion-label class="ion-padding-start">
              <h3 class="text-size-md text-color-primary font-bold ion-text-wrap">
                {{item.title}}</h3>
              <h3 class="text-size-sm text-color-secondary font-regular ion-text-wrap">
                {{item.time}}</h3>
              <p class="text-size-p text-color-primary font-regular ion-text-wrap ion-padding-top">
                {{item.description}}
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
