<ion-app>
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <!-- Content -->
  <ion-content>
    <!-- FORMS --COMPONENT 1 -->
    <ion-grid class="ion-padding" *ngIf="data != null">
      
        
      <ion-row>
        <!-- <ion-col size="12">
          <ion-item class="box-shadow border-radius input" lines="none">
            <ion-input type="text"
            [(ngModel)]="item.id">
          </ion-input>
          </ion-item>
        </ion-col> -->
        <ion-col size="12">
          <ion-item class="box-shadow border-radius input" lines="none">
            <ion-input type="text"
            [(ngModel)]="item.name">
          </ion-input>
          </ion-item>
        </ion-col>


        <!--  com tractar les cridaes i tal <ion-item  *ngFor="let item of mazo"
        class="box-shadow border-radius input" lines="none" style="max-height: 135px;">
          <p>{{item.titulo}}</p>
        </ion-item> -->


        <!-- <ion-col *ngFor="let item of items ; let i = index" size="12" class="textarea" style="max-height: 135px;">
          
          
          <ion-item class="box-shadow border-radius input" lines="none" style="max-height: 135px;">
            <p>¿ {{item.pregunta}} ?</p>
          </ion-item>
          <ion-item  *ngIf="item.mostrar" class="box-shadow border-radius input " lines="none" style="max-height: 135px;">
            <p> {{item.respuesta}} </p>
          </ion-item>
          <ion-button class="default-button box-shadow ion-text-capitalize"
              expand="block" (click)="showAnswer(i)"> Respuesta
          </ion-button>
          
        </ion-col> -->
        


        <!-- <ion-col size="12" class="textarea" style="max-height: 135px;">
          <ion-item class="box-shadow border-radius input" lines="none" style="max-height: 135px;">
            <ion-textarea rows="100%" cols="1"
            [(ngModel)]="item.description">
          </ion-textarea>
          </ion-item>
        </ion-col> -->
        <ion-col size="12" class="textarea" style="max-height: 135px;">
          <ion-item class="box-shadow border-radius input flashcard" #flashcard lines="none" style="max-height: 135px;"
            [ngClass]="{'flip': flip_card == true, 'unflip': flip_card == false}" >
            <p *ngIf="!questionShown.mostrar">¿ {{questionShown.pregunta}} ?</p>
            <p *ngIf="questionShown.mostrar"> {{questionShown.respuesta}} </p>
          </ion-item>
          <ion-button class="default-button box-shadow ion-text-capitalize"
              expand="block" (click)="toogleAnswer()"> 
              <span *ngIf="!questionShown.mostrar">Respuesta</span>
              <span *ngIf="questionShown.mostrar">Pregunta</span>
          </ion-button>
          
        </ion-col>
        <ion-col  size="12" class="textarea" style="max-height: 135px;">
              <ion-button  *ngIf="questionShown.n != 1"
              class="default-button box-shadow ion-text-capitalize"
              expand="block" (click)="changeQuestion(questionShown.n,false)"> Anterior
              </ion-button>
              <ion-button  *ngIf="questionShown.n  < maxQuestions"
              class="default-button box-shadow ion-text-capitalize"
              expand="block" (click)="changeQuestion(questionShown.n,true)"> Siguiente
              </ion-button>
              <ion-button  *ngIf="questionShown.n  == maxQuestions"
              class="default-button box-shadow ion-text-capitalize"
              expand="block" [routerLink]="['/decks']"> Finalizar
              </ion-button>
        </ion-col>
        
      </ion-row>
    </ion-grid>

  </ion-content>
</ion-app>
