ion-grid,
ion-row {
  height: 100%;
}

ion-item {
  --background: transparent;
  margin-bottom: 0.1rem;
  padding-bottom: 0.1rem;
}
ion-col{
  margin-bottom: 1.5rem;
  height: auto;
}

.flashcard {
  background: #fff;
}


.flip {
  animation-duration: 1.5s;
  animation-name: slidein;
}

.unflip {
  animation-duration: 1.5s;
  animation-name: slideout;
}

@keyframes slidein {
  from {
    transform: rotateY(90deg);
  }
  
  to {
    transform: rotateY(0deg);
  }
}

@keyframes slideout {
  from {
    transform: rotateY(-90deg);
  }
  
  to {
    transform: rotateY(0deg);
  }
}
  