ion-grid,
ion-row {
  height: 100%;
}

ion-item {
  --background: transparent;
}
ion-col{
  margin-bottom: 2.5rem;
  height: auto;
}

ion-item{
  margin-bottom: 0.25rem;
  padding-bottom: 0.1rem;
  
}

.respuesta{
  position: absolute;
  background-color: red;

  
}