<!-- lOGIN FROMA --COMPONENT 1 -->
<ion-page class="ion-page">
  <!-- Content -->
  <ion-content *ngIf="data != null" class="transparent background-size"
  [ngStyle]="{'background-image': 'url(' + data.background + ')'}">
    <ion-grid no-padding>
      <ion-row class="ion-align-items-center ion-padding-horizontal" *ngIf="data != null">
        <ion-col class="ion-text-center "size="12" size-md="8" push-md="2">
          <ion-img class="ion-margin-bottom ion-float-start" [src]="data.logo">
          </ion-img>
          <div class="ion-margin-top clearfix">
          </div>
          <h1 class="text-size-md text-color-primary font-bold
          ion-text-wrap ion-padding-top">{{data.title}}</h1>
        </ion-col>
        <ion-col class="ion-no-padding" size="12" size-md="8" push-md="2">
          <!---Form-->
          <form class="ion-margin-top ion-text-center">
            <!---Input field username-->
            <ion-item class="input" lines="none">
              <ion-label class="text-size-sd text-color-primary font-regular"
              position="stacked">{{data.labelUsername}}
            </ion-label>
              <ion-input required type="text"
              [placeholder]="data.username"
              [(ngModel)]="username"
              [ngModelOptions]="{standalone: true}">
            </ion-input>
              <ion-icon *ngIf="!isUsernameValid"
              class="icon-small" name="remove-circle"
              ></ion-icon>
            </ion-item>
            <!---Input field password-->
            <ion-item class="input" lines="none">
              <ion-label class="text-size-sd text-color-primary font-regular"
              position="stacked">{{data.labelPassword}}
            </ion-label>
              <ion-input required type="password"
              [placeholder]="data.password"
              [(ngModel)]="password"
              [ngModelOptions]="{standalone: true}">
            </ion-input>
              <ion-icon *ngIf="!isPasswordValid"
              class="icon-small" name="remove-circle">
            </ion-icon>
            </ion-item>
            <div class="clearfix"></div>
            <ion-row class="text-center ion-no-padding ion-margin-top">
              <ion-col size="12">
                <!---Login ion-button-->
                <ion-button class="box-shadow default-button ion-text-capitalize
                ion-margin-top ion-margin-bottom" expand="block"
                (click)="onLogin()">{{data.login}}
              </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-content>
</ion-page>
