<!--Theme Radio Button -- COMPONENT 1 -->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding" size="12">
      <ion-list>
        <!-- Header Title Top -->
        <ion-list-header>
          <h1 class="text-size-md text-color-secondary font-regular">{{data.title}}</h1>
        </ion-list-header>
        <!-- List -->
        <ion-radio-group [(ngModel)]="data.selectedItem">
          <ion-item class="default-item box-shadow" lines="none" 
          (click)="onItemClickFunc(entry, $event)"
          *ngFor="let entry of data.items">
            <ion-label class="text-size-md text-color-primary font-bold ion-text-wrap">
              {{entry.title}}</ion-label>
            <ion-radio [value]="entry.id"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
