/* Style component 2
========================================================*/

ion-content {
  --offset-top: calc(-56px - var(--ion-safe-area-top, 0)) !important;

  ion-grid,
  ion-row {
    height: 100%;

    .background-size {
      height: 250px;

      .register-title {
        position: absolute;
        bottom: 16px;
        left: 16px;
      }
    }

    form {
      ion-item {
        --padding-start: 0 !important;
        --inner-padding-end: 0;
        --background: transparent;

        ion-input {
          --background: transparent !important;
          --padding-bottom: 10px;
          --padding-end: 0;
          --padding-start: 0;
          --padding-top: 10px;
          margin: 10px 0 !important;
          width: 100%;
          border-bottom: 1px solid var(--cs-background-border, #CBCBCB);
        }

        ion-icon {
          position: absolute;
          right: 5px;
          bottom: 22px;
          z-index: 999;
        }

        ion-label {
          transform: none;
          margin: 5px 0 0 0 !important;
        }
      }
    }
  }
}
