<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="start" contentId="main-content" type="overlay" *ngIf="showMenu">
  
      <!-- Content -->
      <ion-content>
        <ion-row *ngIf="data != null">
          <ion-col size="12">
            <ion-card class="ion-text-center box-shadow transparent">
              <ion-item class="transparent" lines="none">
                <ion-avatar slot="start">
                  <img [src]="data.image" alt="">
                </ion-avatar>
                <ion-label>
                  <h1 class="text-size-md ion-text-center text-color-primary font-bold ion-text-wrap">{{data.title}}</h1>
                  
                  <div class="social-share">
                    <!-- Followers-->
                    <ion-item class="transparent" lines="none" (click)="buttonClick()">
                      <ion-label class="ion-text-center">
                        <span class="text-size-sm text-color-secondary font-regular">
                          {{data.valueFollowers}}</span>
                        <div class="clearfix"></div>
                        <h2 class="text-size-sm text-color-secondary font-regular">
                          {{data.followers}}</h2>
                      </ion-label>
                    </ion-item>
                    <!-- Following -->
                    <ion-item class="transparent" lines="none" (click)="buttonClick()">
                      <ion-label class="ion-text-center">
                        <span class="text-size-sm text-color-secondary font-regular">
                          {{data.valueFollowing}}</span>
                        <div class="clearfix"></div>
                        <h2 class="text-size-sm text-color-secondary font-regular">
                          {{data.following}}</h2>
                      </ion-label>
                    </ion-item>
                  </div>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <!-- Menu List -->
              <ion-list>
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                  <ion-item class="default-item box-shadow" lines="none"
                  [routerDirection]="'root'" (click)="openPage(p)">
                    <i class="icon {{p.icon}} icon-small"></i>
                    <ion-label>
                      <h1 class="text-size-md text-color-primary font-light">
                        {{p.title}}</h1>
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
