/* Style component 3
========================================================*/

ion-card {
  overflow: visible;
  position: relative;
  box-shadow: none;
  margin: 15px 10px;

  &:after {
    content: "";
    width: 1px;
    background-color: var(--cs-background-border, #CBCBCB);
    top: 10px;
    left: -20px;
    bottom: -22px;
    position: absolute;
  }

  &:before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--cs-background-accent, #FF9900);
    top: 0;
    left: -26px;
    position: absolute;
    z-index: 999;
  }
}

ion-col > ion-card:last-child {
  &:after {
    display: none;
  }
}
