/* Style component 3
========================================================*/
.collapsible-header {
  .default-item {
    margin-bottom: 0 !important;
  }
}
/* SETTINGS ACCORDIAN "OPEN" */
.item-accordion {
  max-height: 0;
  display: block !important;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  overflow: hidden;

  &.active {
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    overflow: visible;
    max-height: 999px;
  }
}

.item-checkbox-checked {
  --background: var(--cs-background-primary, #23222B);
}

ion-footer {
  background: var(--cs-background-primary, #23222B) !important;
}

.footer-md:before {
  background-image: none !important;
}
