<!-- lOGIN FROMA --COMPONENT 1 -->
<ion-app>
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-page class="ion-page">
  <!-- Content -->
  <ion-content  class="transparent background-size">
    <ion-grid no-padding>
      
       <ion-row class="ion-align-items-center ion-padding-horizontal" >
        
        <ion-input class="border" 
        [(ngModel)]="deckName"
        placeholder={{data.inputPlaceholder}}>

        </ion-input>
       </ion-row>
      <ion-row class="ion-align-items-center ion-padding-horizontal" >
        
        <ion-textarea rows="5" 
        class="border" 
        [(ngModel)]="deckDescription"
        placeholder={{data.textareaPlaceholder}}>

        </ion-textarea>
       </ion-row>
       <ion-row class="ion-align-items-center ion-padding-horizontal" >
        
        <ion-button class="box-shadow default-button ion-text-capitalize
        ion-margin-top ion-margin-bottom" expand="block"
        (click)="saveDeck()">{{data.buttonName}}
      </ion-button>
       </ion-row>
    </ion-grid>
    
  </ion-content>
</ion-page>
</ion-app>