<!-- FORGET PASSWORD --COMPONENT 1 -->
<ion-page class="ion-page">
  <!-- Content -->
  <ion-content *ngIf="data != null" class="transparent background-size"
  [ngStyle]="{'background-image': 'url(' + data.background + ')'}">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-padding-horizontal ion-align-items-center" *ngIf="data != null">
        <ion-col class="ion-no-padding ion-text-center" size="12" size-md="8" push-md="2">
          <!---Logo-->
          <ion-img [src]="data.logo"></ion-img>
          <!---Subtitle-->
          <h2 class="text-size-sm text-color-primary font-regular ion-text-wrap">
            {{data.subtitle}}</h2>
          <!---Title-->
          <h1 class="text-size-md text-color-primary font-bold ion-text-wrap">
            {{data.title}}</h1>
        </ion-col>
        <ion-col class="ion-no-padding" size="12" size-md="8" push-md="2">
          <!---Form-->
          <form>
            <!---Input field Email-->
            <ion-item class="input" lines="none">
              <ion-label class="text-size-sd text-color-primary font-regular"
              position="stacked">{{data.lableEmail}}</ion-label>
              <ion-input required type="email"
              [placeholder]="data.email"
              [(ngModel)]="item.email"
              [ngModelOptions]="{standalone: true}"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
            </ion-input>
              <ion-icon *ngIf="!isEmailValid" class="icon-small" name="remove-circle">
              </ion-icon>
            </ion-item>
            <!---Send button-->
            <ion-button class="default-button box-shadow ion-text-capitalize
            ion-margin-top" expand="block" (click)="onSendFunc()">{{data.send}}
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
