/* Style component 1
========================================================*/

ion-toolbar {
  color: var(--cs-text-primary, #fff);
}

.ios {
  ion-back-button,
  ion-menu-button {
    --color: var(--cs-text-primary, #fff);
  }
}

.active {
  ion-toolbar {
    background: var(--cs-background-primary, #23222B);
    color: var(--cs-text-accent, #FF9900);
  }

  .ios {
    ion-back-button,
    ion-menu-button {
      --color: var(--cs-text-accent, #FF9900);
    }
  }
}

.background-size {
  height: 40vh;
  position: relative;

  &::after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, var(--cs-gradient-secondary)), to(black));
    background: linear-gradient(to bottom, var(--cs-gradient-secondary) 1%, black 100%);
  }

  /* Parallax Title
   =============================================*/
  .parallax-title-section {
    position: absolute;
    z-index: 999;
    bottom: 16px;
    left: 16px;
    right: 16px;
  }
}
ion-item {
  --inner-padding-end: 0;
}

ion-label {
  overflow: visible !important;
}
