<!--Theme Parallax -- COMPONENT 2 -->
<ion-header [ngClass]="{'active': isHeaderVisible }">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<!--- Theme Parallax Product -->
<ion-page class="ion-page">
  <!--- Header Big Image -->
  <ion-content scrollEvents="true" parallax-header
  *ngIf="data != null" (ionScroll)="scrolling($event)">
    <div class="header-image">
      <div class="ion-padding background-size"
      [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
      </div>
      <div class="info-block ion-text-center ion-margin-bottom ion-padding">
        <!-- Avatar-->
        <ion-thumbnail>
          <img [src]="data.avatar">
        </ion-thumbnail>
        <!--- Parallax Subtitle -->
        <h1 class="text-size-xl text-color-primary font-bold"
        *ngIf="data != null">{{data.title}}</h1>
        <!--- Parallax Title -->
        <h2 class="text-size-md text-color-primary font-regular ion-no-margin"
        *ngIf="data != null">{{data.subtitle}}</h2>
        <ion-item class="transparent box-shadow ion-no-padding ion-margin-top" lines="none">
          <ion-label class="ion-text-center">
            <span class="text-size-sm text-color-primary font-regular">
              {{data.followers}}</span>
            <div class="clearfix"></div>
            <ion-button class="clear-button ion-text-capitalize">
              <span class="text-color-accent">
                {{data.buttonFollowers}}</span>
            </ion-button>
          </ion-label>
          <ion-label class="ion-text-center">
            <span class="text-size-sm text-color-primary font-regular">
              {{data.following}}</span>
            <div class="clearfix"></div>
            <ion-button class="clear-button ion-text-capitalize">
              <span class="text-color-accent">
                {{data.buttonFollowing}}</span>
            </ion-button>
          </ion-label>
          <ion-label class="ion-text-center">
            <span class="text-size-sm text-color-primary font-regular">
              {{data.events}}</span>
            <div class="clearfix"></div>
            <ion-button class="clear-button ion-text-capitalize">
              <span class="text-color-accent">
                {{data.buttonEvents}}</span>
            </ion-button>
          </ion-label>
        </ion-item>
      </div>
    </div>
    <!--Content-->
    <ion-grid *ngIf="data != null">
      <ion-row>
        <ion-col class="ion-no-padding background-primary" size="12" size-sm="6"
        *ngFor="let item of data.items;let i = index">
          <ion-card class="box-shadow border-radius transparent"
          (click)="onItemClickFunc(item, $event)">
            <img [src]="item.image" alt="">
            <!--Card content-->
            <ion-card-content class="transparent">
              <!--Card title-->
              <h2 class="text-size-xl text-color-primary font-semi-bold ion-text-wrap ion-no-margin">
                {{item.title}}</h2>
              <!--Card subtitle-->
              <h3 class="text-size-sm text-color-primary font-regular ion-text-wrap">
                {{item.description}}</h3>
              <ion-button class="button-icon ion-text-capitalize">
                <ion-icon slot="start" class="icon-medium" [name]="item.iconLike"></ion-icon>
                {{item.like}}
              </ion-button>
              <ion-button class="button-icon ion-text-capitalize">
                <ion-icon slot="start" class="icon-medium" [name]="item.iconComment">
                </ion-icon>
                {{item.commnet}}
              </ion-button>
              <ion-button class="button-icon ion-text-capitalize">
                <ion-icon slot="start" class="icon-medium" [name]="item.iconShere">
                </ion-icon>
                {{item.share}}
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
