/* Style component 2
========================================================*/
li {
  list-style-type: none;
}

.background-size {
  height: 215px;
  position: relative;
  border-radius: var(--border-radius, 8px);
  overflow: hidden;

  &::after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, var(--cs-gradient-secondary)), to(black));
    background: linear-gradient(to bottom, var(--cs-gradient-secondary) 1%, black 100%);
  }

  ion-item {
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .button-icon {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
}
/* Settings Accordion "OPEN" */
.item-accordion {
  max-height: 0;
  display: block !important;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  overflow: hidden;

  &.active {
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    overflow: visible;
    max-height: 999px;
  }

  .icon-medium::before {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
