
.orange-peal-turbo-gradient {
  --background: linear-gradient(to left, #FFEE00 0%, #FF9900 100%) !important;
}

.international-orange-gradient {
  --background: linear-gradient(to left, #FF9900 0%, #FF7400 100%) !important;
}

.orange-peel {
  --background: #FF9900 !important;
}

.turbo {
  --background: #FFEE00 !important;
}

.lime {
  --background: #B4FF00 !important;
}

.bright-turquoise {
  --background: #00FFBA !important;
}

.dodger-blue {
  --background: #00B1FF !important;
}

.heliotrope {
  --background: #CC53FF !important;
}

.persimmon {
  --background: #FF5353 !important;
}

.turbo-lime-gradient {
  --background: linear-gradient(to left, #B4FF00 0%, #D9F700 100%) !important;
}
