<!--Themes Time Line - COMPONENT 2  -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row class="ion-padding-start ion-padding-top">
    <ion-col class="ion-no-padding" size="11" offset="1">
      <div class="item-thumbnail ion-margin-bottom"
      *ngFor="let item of data.items"
      (click)="onItemClickFunc(item, $event)">
        <span class="text-size-sm text-color-accent font-bold ion-text-wrap">
          {{item.time}}</span>
        <ion-item class="default-item box-shadow" lines="none">
          <ion-thumbnail slot="start">
            <img [src]="item.avatar">
          </ion-thumbnail>
          <ion-label>
            <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">
              {{item.title}}</h2>
            <ion-badge class="ion-margin-top">
              {{item.price}}</ion-badge>
          </ion-label>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
