<!-- ANIMATION --COMPONENT 9 -->
<ion-grid *ngIf="data && data.items">
  <ion-row  appAnimateItems className="zoomIn">
    <ion-col size="12" class="animation-fast opacity-0">
      <ion-card class="ion-text-center box-shadow transparent">
        <ion-item class="transparent" lines="none">
          <ion-avatar slot="start">
            <img [src]="data.image" alt="">
          </ion-avatar>
          <ion-label>
            <h1 class="text-size-md text-color-primary font-bold ion-text-wrap">
              {{data.title}}</h1>
            <p class="text-size-sm text-color-secondary font-light ion-text-wrap">
              {{data.subtitle}}</p>
          </ion-label>
        </ion-item>
        <div class="social-share">
          <!-- Followers-->
          <ion-item class="transparent" lines="none">
            <ion-label class="ion-text-center">
              <span class="text-size-sm text-color-secondary font-regular">
                {{data.valueFollowers}}</span>
              <div class="clearfix"></div>
              <h2 class="text-size-sm text-color-secondary font-regular">
                {{data.followers}}</h2>
            </ion-label>
          </ion-item>
          <!-- Following -->
          <ion-item class="transparent" lines="none">
            <ion-label class="ion-text-center">
              <span class="text-size-sm text-color-secondary font-regular">
                {{data.valueFollowing}}</span>
              <div class="clearfix"></div>
              <h2 class="text-size-sm text-color-secondary font-regular">
                {{data.following}}</h2>
            </ion-label>
          </ion-item>
          <!-- Post -->
          <ion-item class="transparent" lines="none">
            <ion-label class="text-center">
              <span class="text-size-sm text-color-secondary font-regular">
                {{data.valuePosts}}</span>
              <div class="clearfix"></div>
              <h2 class="text-size-sm text-color-secondary font-regular">
                {{data.posts}}</h2>
            </ion-label>
          </ion-item>
        </div>
      </ion-card>
    </ion-col>
    <ion-col size="12" class="animation-fast opacity-0">
      <!-- Name Category -->
      <h1 class="ion-text-uppercase text-size-sm text-color-accent
      ion-no-margin font-bold ion-text-center">{{data.category}}</h1>
    </ion-col>
    </ion-row>
    <ion-row appAnimateItems className="slideInUp">
    <ion-col size="12" size-md="4" class="ion-text-center animation-slow opacity-0"
    *ngFor="let item of data.items;let i = index"
    (click)="onItemClickFunc(item)">
      <ion-card class="ion-no-padding ion-text-center box-shadow border-radius transparent">
        <img [src]="item.backgroundCard" alt="">
        <ion-card-content>
          <span class="text-size-xs text-color-secondary font-bold
          ion-text-capitalize">{{item.category}}</span>
          <h1 class=" text-size-md text-wrap text-color-primary font-regular
          ion-padding-top">{{item.title}}</h1>
        </ion-card-content>
        <ion-button class="button-icon ion-text-capitalize"
        (click)="onLikeFunc(item)">
          <ion-icon slot="start"
          [ngClass]="{'active' : item.like.isActive}"
          [name]="item.like.icon"></ion-icon>
          {{item.like.text}}
        </ion-button>
        <ion-button class="button-icon ion-text-capitalize "
        (click)="onCommentFunc(item)">
          <ion-icon slot="start"
          [ngClass]="{'active' : item.comment.isActive}"
          [name]="item.comment.icon"></ion-icon>
          {{item.comment.number}} {{item.comment.text}}
        </ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
